* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {

    overflow-x: hidden;
    height: 100%;
    min-height: 100%;
    font-family: 'Poppins' !important;
    font-size: 16px !important;
    line-height: 1.5 !important;

}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    margin: 0 auto;
    max-width: 2600px;
    padding: 0px 15px;
}

/*Inicio Hero Banner*/

.hero {
    height: 100vh;
    background-image: url('../docs/img/Backroound.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
  }

  .container_hero_img{

    padding: 0px 10px;
    max-width: 1280px;

  }

  .container_infoHI{

    padding-top: 6rem;

  }
  
  .hero h1 {
    font-size: 4rem;
    color: #222;
  }
  
  .hero p {
    font-size: 1.5rem;
    color: #222;
    margin-bottom: 2rem;
  }
  
  .hero .btn-primary {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 26px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
    background-color: #17234d;
}

  .container_info{

    text-align: end;

  }


/*Fin Hero Banner*/

/*Section Form*/
.section-form {
    background-image: url('../docs/img/form.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .form-container {
    max-width: 1440px;
    margin: auto;
  }
  
  .tform-info {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    padding: 25px 0;
    color: #fff;
    text-align: left;
  }
  
  .tform-info span {
    color: #007fff;
    font-weight: bold;
  }

  .form-control {
    height: 4.5rem !important;
  }

  .form-select {
    height: 4.5rem !important;
    padding: 0 2.25rem .0.75rem !important;
    font-size: inherit !important;
  }

  

/*Section footer*/

.logo_footer {

    width: 150px;

}

.section_footer {

    background-color: #17234d;
    color: white;

}

.container_footer {

    max-width: 1280px;
    margin: auto;
    padding: 100px 0px 10px 0px;
}

.info_contact {

    width: auto;

}

.country_tittle {

    padding-bottom: 10px;

}

.icon-flag {

    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;

}

.name_country {

    display: inline-block;
    vertical-align: middle;
    margin: 0px;

}

.phone_info {

    margin-top: 10px;

}

.phone_info i {

    margin-right: 10px;
}

.email_info {

    margin-bottom: 25px;
}

.email_info i {

    margin-right: 10px;
}

.addres_info i {
    margin-right: 10px;
}

.icon-social {

    width: 34px;
    margin-left: 15px;
    margin-bottom: 10px;



}